.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 22px 0 0 31px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}

@media (max-width: 767px) and (min-width: 320px) {
  .profile__name {
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin: 26px 0 0 31px;
  }
}
