.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 880px;
  margin: 39px auto 51px;
}

@media screen and (max-width:1023px) and (min-width:768px) {
  .profile {
    max-width: 700px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .profile {
    flex-direction: column;
    margin: 43px 0 35px;
  }
}
