@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__pretty/header__pretty.css);
@import url(./blocks/header/__close-icon/header__close-icon.css);
@import url(./blocks/header/__cont/header__cont.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_mobile/header__link_mobile.css);
@import url(./blocks/header/__size/_close-icon/header__size_close-icon.css);
@import url(./blocks/header/__text/header__text.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-img/profile__avatar-img.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/element/__heart/element__heart.css);
@import url(./blocks/element/__heart/_active/element__heart_active.css);
@import url(./blocks/element/__delete-icon/element__delete-icon.css);
@import url(./blocks/element/__delete-icon/_visible/element__delete-icon_visible.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_inactive/popup__save-button_inactive.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__element/popup__element.css);
@import url(./blocks/popup/__element-image/popup__element-image.css);
@import url(./blocks/popup/__element-text/popup__element-text.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/_dark/popup_dark.css);
@import url(./blocks/figure/figure.css);
@import url(./blocks/element/__heart-count/element__heart-count.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/popup/__delete-card/popup__delete-card.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__button/login__button.css);
@import url(./blocks/login/__form/login__form);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__label/login__label.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/register/register.css);
@import url(./blocks/register/__button/register__button.css);
@import url(./blocks/register/__container/register__container.css);
@import url(./blocks/register/__form/register__form.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__label/register__label.css);
@import url(./blocks/register/__link/register__link.css);
@import url(./blocks/register/__text/register__text.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/page404/page404.css);
@import url(./blocks/page404/__image/page404__image.css);

